.publications
  background-color: $body-color-secondary
  padding: 60px 0 61px 0
  &__like
    margin-left: 6px
  &-container
    display: flex
  &__comments
    margin-left: 5px
  &-main
    width: 848px
    background-color: #fff
    padding: 25px 25px 0 25px
    border-radius: 10px
    &__item
      display: flex
      position: relative
      justify-content: space-between
      border-bottom: 1px solid $border-color
      padding-bottom: 24px
      margin-top: 25px
      cursor: pointer
      &:first-child
        margin-top: 0
      &:nth-child(6)
        border: none
    &__img
      width: 336px
      height: 195px
    &__bookmark
      position: absolute
      right: 3px
      top: 1px
      z-index: 5
      fill: #BCBFC2
    &__bookmark-active
      fill: #FF4F52
    &-text
      display: flex
      flex-direction: column
      max-width: 437px
    &-categor
      font-style: normal
      font-weight: 900
      font-size: 12px
      line-height: 15px
      margin-top: 5px
      margin-bottom: 16px
      letter-spacing: 0.5px
      text-transform: uppercase

      color: #4592FF
      &-2, &-4
        color: #3BBDC4
      &-3, &-5
        color: #FF4F52
      &-6
        color: #AC8EE3
    &__title
      font-family: 'Roboto Slab'
      color: $title-color
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 25px
      margin-bottom: 10px

    &__description
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      max-height: 60px
      height: 60px
      overflow: auto
      color: $standart-text-color
      margin-bottom: 19px
      word-wrap: break-word
    &__info
      color: $navbar-link-color
      justify-content: flex-start
      align-items: center
      opacity: 1
      &-mt
        margin-top: 25px
    &__numb
      color: $navbar-link-color
    &__icon
      margin-left: 5px
      & path
        fill: #BCBFC2
  &-new
    background: #FFFFFF
    border-radius: 10px
    width: 263px
    margin-left: 29px
    min-height: 770px
    max-height: 770px

    &__text
      margin-left: 10px
    &__main
      &-title
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        color: $standart-text-color
        margin-bottom: 5px
        margin-top: 1px
        max-height: 40px
        height: 40px
        max-width: 138px
        word-wrap: break-word
        overflow: auto
    &__more
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      padding-top: 10px
      text-align: center
      cursor: pointer
      margin-top: auto
      display: block
      margin-top: 11px
      border-top: 1px solid $border-color
    &__date
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $navbar-link-color
      word-wrap: break-word
      max-width: 138px
      width: 138px
      height: 15px
      max-height: 15px
      overflow: auto
      display: block
    &__item
      display: flex
      margin-left: 25px
      margin-right: 25px
      padding-bottom: 17px
      margin-top: 17px
      position: relative
      cursor: pointer
      border-bottom: 1px solid $border-color
      &:nth-child(6) > .publications-new__main-title
        margin-top: 0
      &::after
        content: ''
        position: absolute
        right: 0
        top: 5px
        background-image: url(..//images/1.svg)
        background-position: center center
        object-fit: cover
        background-repeat: no-repeat
        width: 41px
        height: 51px
      &:nth-child(3)
        & > .publications-new__text > .publications-new__main-title
          margin-bottom: 4px
        &::after
          content: ''
          position: absolute
          right: 0
          top: 5px
          background-image: url(..//images/2.svg)
          background-position: center center
          object-fit: cover
          background-repeat: no-repeat
          width: 41px
          height: 51px
      &:nth-child(4)
        margin-top: 16px

        & > .publications-new__text > .publications-new__main-title
          margin-bottom: 5px
        &::after
          content: ''
          position: absolute
          right: 0
          top: 5px
          background-image: url(..//images/3.svg)
          background-position: center center
          object-fit: cover
          background-repeat: no-repeat
          width: 41px
          height: 51px
      &:nth-child(5)

        & > .publications-new__text > .publications-new__main-title
          margin-bottom: 5px
        &::after
          content: ''
          position: absolute
          right: 0
          top: 5px
          background-image: url(..//images/4.svg)
          background-position: center center
          object-fit: cover
          background-repeat: no-repeat
          width: 41px
          height: 51px
      &:nth-child(6)
        & > .publications-new__text > .publications-new__main-title
          margin-bottom: 2px
          margin-top: 0
        &::after
          content: ''
          position: absolute
          right: 0
          top: 5px
          background-image: url(..//images/5.svg)
          background-position: center center
          object-fit: cover
          background-repeat: no-repeat
          width: 41px
          height: 51px
      &:nth-child(7)
        & > .publications-new__text > .publications-new__main-title
          margin-bottom: 3px
          margin-top: 0
        &::after
          content: ''
          position: absolute
          right: 0
          top: 5px
          background-image: url(..//images/6.svg)
          background-position: center center
          object-fit: cover
          background-repeat: no-repeat
          width: 41px
          height: 51px
      &:nth-child(8)
        padding-bottom: 6px
        border: none
        & > .publications-new__text > .publications-new__main-title
          margin-bottom: 4px
          margin-top: 0
        &::after
          content: ''
          position: absolute
          right: 0
          top: 5px
          background-image: url(..//images/7.svg)
          background-position: center center
          object-fit: cover
          background-repeat: no-repeat
          width: 41px
          height: 51px

    &__img
      width: 60px
      height: 60px
    &__title
      padding: 20px 25px 18px 25px
      border-bottom: 1px solid $border-color
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
      max-height: 60px
      word-wrap: break-word
      overflow: auto
      letter-spacing: 0.5px
      color: $title-color
      text-transform: uppercase

.like

  &-ml
    &-11
      margin-left: 6px
    &-4
      margin-left: 6px
